<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  {% if page.view_transition %}
  <meta name="view-transition" content="same-origin">
  {% endif %}
  <link rel="stylesheet" href="/assets/stylesheets/reset.css">
  <link rel="stylesheet" href="/assets/stylesheets/base.css">
  <link rel="stylesheet" href="/assets/stylesheets/utilities.css">
  <link rel="stylesheet" href="/assets/stylesheets/layout.css">
  <link rel="stylesheet" href="/assets/stylesheets/home.css">
  <link rel="stylesheet" href="/assets/stylesheets/books.css">
  <link rel="stylesheet" href="/assets/stylesheets/testimonials.css">
  <link rel="stylesheet" href="/assets/stylesheets/about.css">
  <link rel="stylesheet" href="/assets/stylesheets/buttons.css">
  <link rel="stylesheet" href="/assets/stylesheets/popover.css">
  {% if page.include_book_styles %}
  <link rel="stylesheet" href="/assets/stylesheets/book.css">
  {% endif %}
</head>
