@layer modules {
  .hero {
    --angle: 90deg;

    background: linear-gradient(var(--angle), var(--color-brand-hero-dark) 20%, var(--color-brand-hero-mid) 50%);
    border-block-start: 1em solid var(--color-brand-gold);
    color: var(--color-white);

    @media (max-width: 639px) {
      --angle: 180deg;
    }
    
    .container {
      display: grid;
      gap: clamp(1.5rem, 4vw, 3rem);
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      align-items: center;

      @media (max-width: 639px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .hero__button {
    --btn-background: var(--color-brand-gold);
    --btn-border-color: var(--color-brand-hero-dark);
    --btn-color: var(--color-brand-hero-dark);

    margin-block-end: var(--space-double);
  }
  
  .hero__subtitle {
    font-size: var(--text-large);
    margin-block-start: 0;
  }

  .hero__title {
    color: var(--color-brand-gold);
    font-size: var(--text-medium);
    font-weight: bold;
    letter-spacing: 0.15em;
    margin: var(--space-double) 0 0 0;
    text-transform: uppercase;
  }
  
  .hero__image {
    inline-size: 100%;
  }
  
  .hero__logo {
    fill: var(--color-white);
    margin-inline: auto;
    max-inline-size: 45ch;
  }

  .footer {
    background: linear-gradient(-33deg, var(--color-brand-footer-darkest), var(--color-brand-footer-darker));
    border-block-start: 0.5em solid var(--color-brand-footer-dark);
    color: var(--color-white);
    font-size: var(--text-normal);
    padding: var(--space-double);

    a {
      text-decoration: none;
    }

    svg {
      block-size: 1.4em;
      fill: var(--color-white);
      inline-size: 1.4em;
      vertical-align: middle;
    }
  }
}
