@layer modules {
  :where(#main) {
    text-align: center;
  }

  .container {
    padding-inline: clamp(1.5rem, 4vw, 3rem);
    margin-inline: auto;
    max-inline-size: var(--main-inline-size);
    transition: padding 300ms ease-in-out;

    @media (max-width: 639px) {
      padding: 0;
    }
  }
}